@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.chatBoxContainer {
    width: 380px;
    height: 508px;
    background-color: none;
    
    position: fixed;
    bottom: 65px;
    right: 5px;
    z-index: 1;
    border-radius: 10px;

    font-family: "Montserrat", sans-serif;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.chatBox {
    color: black;
    background-color: #ebe6e3;


    width: 100%;
    height: 78%;

    padding: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px 10px 0 0;
}

.chatBoxContainer h2 {
    padding: 30px 35px 5px;
    color: rgb(71, 71, 71);

    margin: auto;
    margin-bottom: -5px;
    font-weight: 800;
    font-size: 30px;
    width: fit-content;
    background-image: url("../img/cloud.png");
    background-size: cover;

}

.chatBox .userMessageBox {
    background-color: rgb(127, 178, 255);
    color: rgb(26, 0, 173);
    width: 70%;
    margin-left: 30%;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
    border-radius: 30px 30px 0 30px;
}

.chatBox .agentMessageBox {
    background-color: rgb(255, 255, 255);
    color: gray;
    width: 70%;
    margin-bottom: 10px;
    padding: 15px 20px 15px 15px;
    border-radius: 30px 30px 30px 0px;
}
/* #region .createConfirmBox */
.createConfirmBox {
    background-color: rgb(255, 211, 129);
    padding: 10px;
    margin: 10px;
}

.startDateTimeDiv {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 197, 91);
}

.startDateTimeDiv input {
    background-color: rgb(245, 180, 60);
    color: white;
    font-weight: 700;
    border: none;
}

.startDateInput {
    width: 120px;
}

.startTimeInput {
    width: 110px;
    margin-left: 30px;
}

.endDateTimeDiv {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 197, 91);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.endDateInput {
    width: 120px;
}

.endDateInput:disabled {
    color: rgb(255, 197, 91);
}

.endTimeInput {
    width: 110px;
    margin-left: 30px;
}

.endDateTimeDiv input {
    background-color: rgb(245, 180, 60);
    color: white;
    font-weight: 700;
    border: none;
}

.endDateTimeDiv button {
    background-color: rgb(245, 180, 60);
    color: white;
    font-weight: 700;
    border: none;
}

.endTimeDiv {
    display: flex;
}

.createConfirmBox h3 {
    margin: auto;
}

.createConfirmBox h3:last-of-type {
    margin-top: 10px;
}

.createConfirmBox .buttons {
    display: flex;
    flex-direction: row-reverse;
}

.createConfirmBox #cancel-button {
    background-color: white;
    color: gray;
    border: none;
}

.createConfirmBox #cancel-button:hover {
    background-color: rgb(241, 241, 241);
    border: none;
}


.createConfirmBox #confirm-button {
    background-color: orange;
    color: white;
    font-weight: 700;
    border: none;
}

.createConfirmBox #confirm-button:hover {
    background-color: rgb(255, 123, 0);
}

.confirmContext {
    flex-wrap: nowrap;
}

.createConfirmBox input {
    display: block;
}

.checks * {
    margin-top: 0;  
    margin-bottom: 0;
}

.descTextArea {
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    max-height: 150px;
    margin-bottom: 10px;
}

.addDescButton {
    background-color: orange;
    color: white;
    font-weight: 700;
    border: none;
}


/* #endregion */

.chatBoxContainer form {
    width: 100%;
}

.chatBoxContainer form textarea {
    width: 300px;
    height: 66px;
    overflow: auto;
    resize: none;
    border-radius: 0 0 0 10px;
    padding-left: 5px;
}

.chatBoxContainer form textarea:disabled {
    background-color: azure;
}

.chatBoxContainer form button {
    background-color: blue;
    color: white;
    font-weight: bold;

    width: 80px;
    height: 66px;
    font-size: 15px;

    border: none;
    position: fixed;
    border-radius: 0 0 10px 0;

}

.chatBox img {
    width: 20%;
    margin-left: 5%;
    margin-right: 70%;
    border-radius: 50%;
}

.minimize {
    position: fixed;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(158, 158, 158);
    color: white;
    font-weight: 700;
    transform: translate(10px, 30px);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}